*{
    margin: 0PX; padding: 0px;
}
body{
    display: flex; justify-content: center; align-items: center; background:linear-gradient( to bottom right,#5F53E7,#5F53E7,#BF6FB7,#E07C7F);

}

section{
 width: 85%; height: 85%; 
}
.IM{
    width: 100%; height: 100%; z-index: -1;
}
.art{
      font-size: 47px; width: 45%;   color: white; 
 letter-spacing: 2PX; font-family: cursive;  margin: 5%;

}
.user{
     background-color: white; width: 40%; Padding-top: 12%; display: flex; justify-content: center;
}
.USER P{
    color: #766CE7; font-weight: 200; font-family: sans-serif; letter-spacing: 1.5PX; font-size: 25PX; position: absolute; left: 73%; top: 20%;
height: 12%;
}
.USER input{
    border: none; background-color: #E8E6FF; border-radius: 50PX; margin-top 20PX; width: 255PX; height: 45px; padding-left: 20PX;
display: flex; justify-content: center; align-items: center; margin: 20PX 0PX; position: relative; top: 5%; left: 10%;
}

.B{
    border: none; background:linear-gradient(to bottom left,#766CE7,#766CE7,#BF6FB7,#E07C7F) ; width: 120px; height: 40px; border-radius: 50px;
color: white; font-family: system-ui; position: relative; top: 10%; left: 38%;
}


.cont{
    width: 100%; height: 100%; background: url(3.jpg); background-repeat: no-repeat; background-color: white;
 background-size:cover; background-attachment:fixed ; background-position: center; display: flex; justify-content: space-between; 
   
}



.CV{
    display: none;
}



@media (max-height:1431px) and (max-width:1600px) {

.cont{display: none;}

.cv{display: block;}



}
.cv{
     width: 100%; height: 100%; background: url(3.jpg);
background-repeat: no-repeat; background-size: cover;

}

.ARTM{
    color: white; font-size: 21PX; font-family: cursive; display: flex; justify-content: CENTER; 
}
.USERM P{  margin-top: 8%; color: ; background-color: white; display: flex; justify-content: center; color: #766CE7;
font-size: 24PX; border-radius: 1%; border: none;
}

.USERM form{
    display: flex; justify-content: center; margin-top: 10%;
} 
.f input{
   border: none; border-radius: 5px; margin-top: 7%; padding-left: 10PX; padding: 10PX; border: 0; border-bottom: 2px solid #E07C7F;
background: transparent;  outline: 0; color: white; transition: 0.3S ease; outline: 0; 
}
.BB{
    display: flex; justify-content: center; margin-top: 30%;
}
    
.BM{
    border: none; background:linear-gradient(to bottom left,#BF6FB7,#BF6FB7,#E07C7F,#E07C7F) ; width: 120px; height: 40px; border-radius: 50px;
    color: white; font-family: system-ui; 
}

.G {
    color: aliceblue;   font-size: 14px; font-family: sans-serif; font-size: 18px; position: absolute; top:30px;

   display: block; 
}

.fm::placeholder{
    color: transparent;
}

:focus..fm:placeholder-shown ~ .g{

font-size: 17px; font-family: sans-serif;  top: 30px; padding-left: 5px; }

input:focus{
    border: none;
}
.f{
    position: relative;
}
input:focus ~ .g{
    display: block; position: absolute; top: 0; font-size: 14px; }
  
    


.q{
    position: relative;
}



.y {
    color: aliceblue;   font-size: 14px; font-family: sans-serif; font-size: 18px; position: absolute; top:30px;

   display: block; 
}

.em::placeholder{
    color: transparent;
}

:focus..em:placeholder-shown ~ .y{

font-size: 17px; font-family: sans-serif;  top: 20px; padding-left: 5px; }

input:focus{
    border: none;
}

input:focus ~ .y{
    display: block; position: absolute; top: 0; font-size: 14px; }
  