@media (max-height:900px) and (max-width:1024px) {
    .cont{
        display: none;
    }
   .tab{
    display: block;
   }

        body::after{
            content: '';
         background-color: rgb(255, 0, 43);
         position: absolute;
         width: 100%;
         height: 100%;
         z-index: -1;
         position: absolute;
         clip-path: circle(50% at bottom )
        }
    }
    .tab{ width: 80%; height: 90%;  
        background-color:rgba(225, 225, 225, 0.1); border-radius: 20px; border: 1px solid rgba(225, 225, 225, 0.31) ;
    
    box-shadow: 1px 1px 10px rgb(13, 118, 255); overflow: hidden;
    
    }
    .tab ul{
        list-style: none; 
    }
    .logot{
        text-transform: uppercase;   font-size: 30px; letter-spacing: 2px; font-weight: 700; display: flex; justify-content: center;
       }
     .ult li{
           font-weight: 500; padding: 0px 5px;
    }.ult { display: flex; justify-content: center; }
     .ult li a:hover{
        text-shadow: 1px 10px 60px rgb(1, 47, 173); color: rgb(48, 129, 236);  }


       div .textt{
           height: 35%; width: 70%; margin: 6px 0; margin: 0 auto;text-align: center; }
        .textt h2{
            text-transform: uppercase; font-size: 35; font-weight: 700; letter-spacing: 2px;  height: auto; width: 100%; margin: 20px 0px; }
     
        .textt p{
            font-size: 17px; line-height: 25px;  letter-spacing: 1px;  height: 4%; width: 100%;
        }
        .IMT IMG{
            width: 100%; margin-top: 150PX;
        }
        .IMT{ height: 30%; width: 60%; margin: 0 auto; }
        
        
        @media   (max-height:680px)  and (max-width:1024px){
            .cont{
                display: none;
            }
           .tab{
            display:block;
           }
        
                body::after{
                    content: '';
                 background-color: rgb(255, 0, 43);
                 position: absolute;
                 width: 100%;
                 height: 100%;
                 z-index: -1;
                 position: absolute;
                 clip-path: circle(50% at bottom )
                }
             .imt img{
                position: relative;  width: 85%; bottom: 10PX;
              }
            }
            @media (max-height:600px) and (max-width:1024px) {
                .cont{
                    display: none;
                }
               .tab{
                display: block;
               }
               .IMT{
                position: relative; bottom: 70px;
               }
            
                    body::after{
                        content: '';
                     background-color: rgb(255, 0, 43);
                     position: absolute;
                     width: 100%;
                     height: 100%;
                     z-index: -1;
                     position: absolute;
                     clip-path: circle(50% at bottom )
                    }
                }